<h1>Évènements</h1>
<div class="mb-4">
  <h2><i class="fa-solid fa-forward text-yellow-400"></i> À venir</h2>
  <div class="w-100 flex flex-col gap-y-2">
    <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
      <div class="w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3">
        <i class="fa-solid fa-user text-xl"></i>
      </div>
      <div>
        <h3>Alexandre</h3>
        <p class="text-sm font-bold">Soirée James Bond</p>
        <p class="text-sm">02 Décembre 2024</p>
      </div>
      <div class="grow"></div>
      <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
    </div>
    <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
      <div class="w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3">
        <i class="fa-solid fa-user text-xl"></i>
      </div>
      <div>
        <h3>Clément</h3>
        <p class="text-sm font-bold">Soirée Seigneur des Anneaux</p>
        <p class="text-sm">02 Décembre 2024</p>
      </div>
      <div class="grow"></div>
      <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
    </div>
  </div>
</div>
<div class="mb-4">
  <h2><i class="fa-solid fa-backward text-yellow-400"></i> Passés</h2>
  <div class="w-100 flex flex-col gap-y-2">
    <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
      <div class="w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3">
        <i class="fa-solid fa-user text-xl"></i>
      </div>
      <div>
        <h3>Alexandre</h3>
        <p class="text-sm font-bold">Soirée James Bond</p>
        <p class="text-sm">02 Décembre 2024</p>
      </div>
      <div class="grow"></div>
      <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
    </div>
    <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
      <div class="w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3">
        <i class="fa-solid fa-user text-xl"></i>
      </div>
      <div>
        <h3>Clément</h3>
        <p class="text-sm font-bold">Soirée Seigneur des Anneaux</p>
        <p class="text-sm">02 Décembre 2024</p>
      </div>
      <div class="grow"></div>
      <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
    </div>
  </div>
</div>
